/* Empty. Add your own CSS if you like */
.table2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    vertical-align: middle;
}

.td1{
    text-align: center;
}