<ion-view title="League Table">
    <ion-content class="padding">
        <h3>ISL League Table</h3>
        <table class="table2">
            <thead>
                <tr style="height:50px">
                    <th>Rank</th>
                    <th></th>
                    <th>Team</th>
                    <th>P</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody ng-repeat="league in leaguedata">
                <tr style="height:40px; text-align: center;">
                    <td>{{league.id}}</td>
                    <td></td>
                    <td>{{league.name}}</td>
                    <td style="text-align: center;">{{league.played}}</td>
                    <td style="text-align: center;">{{league.won}}</td>
                    <td style="text-align: center;">{{league.draw}}</td>
                    <td style="text-align: center;">{{league.lost}}</td>
                    <td style="align:center">{{league.gf}}</td>
                    <td style="align:center">{{league.ga}}</td>
                    <td style="align:center">{{league.gd}}</td>
                    <td style="align:center">{{league.points}}</td>
                </tr>

            </tbody>
        </table>
    </ion-content>
</ion-view>
