<ion-view title="League Table">
    <ion-content class="padding">
        <h3>ISL League Table</h3>
        <table class="table2">
            <thead>
                <tr style="height:50px">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>P</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr>
            </thead>
             <tbody >
                <tr style="text-align: center; border-bottom: solid 1px #" ng-repeat="league in leauedata">
                    <td width="4%">{{league.id}}</td>
                    <td width="9%"><img src="img/{{league.logo}}" width="25px" height="25px"></td>
                    <td width="27%">{{league.name}}</td>
                    <td width="7.5%" style="text-align: center; background-color: gainsboro;">{{league.played}}</td>
                    <td width="7.5%" style="text-align: center; background-color: azure;">{{league.won}}</td>
                    <td width="7.5%" style="text-align: center; background-color: gainsboro;">{{league.draw}}</td>
                    <td width="7.5%" style="text-align: center; background-color: azure;">{{league.lost}}</td>
                    <td width="7.5%" style="text-align: center; background-color: gainsboro;">{{league.gf}}</td>
                    <td width="7.5%" style="text-align: center; background-color: azure;">{{league.ga}}</td>
                    <td width="7.5%" style="text-align: center; background-color: gainsboro;">{{league.gd}}</td>
                    <td width="7.5%" style="text-align: center; background-color: azure;">{{league.points}}</td>
                </tr>
            </tbody>
        </table>
    </ion-content>
</ion-view>
