<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-light">


    <!-- leaguetable Tab -->
    <ion-tab title="League" icon="ion-android-storage" href="#/tab/league">
        <ion-nav-view name="tab-league"></ion-nav-view>
    </ion-tab>


    <!-- fixtures Tab -->
    <ion-tab title="Fixtures" icon="ion-ios7-football-outline" href="#/tab/fixtures">
        <ion-nav-view name="tab-fixtures"></ion-nav-view>
    </ion-tab>



    <!-- pixolo tab -->
    <ion-tab title="Pixolo" icon="ion-ios7-information-outline" href="#/tab/pixolo">
        <ion-nav-view name="tab-pixolo"></ion-nav-view>
    </ion-tab>
    
        <!-- Teams Tab -->
    <ion-tab title="Teams" icon="ion-ios7-people" href="#/tab/teams">
        <ion-nav-view name="tab-teams"></ion-nav-view>
    </ion-tab>
    
        <!-- My Tab -->
    <ion-tab title="Star" icon="ion-android-star" href="#/tab/star">
        <ion-nav-view name="tab-star"></ion-nav-view>
    </ion-tab>

</ion-tabs>

